@media print {
	div.header img.logo,
	div.title,
	button.help,
	img.title_icon,
	span.glyphicon-info-sign,
	div.btn-group,
	div.footer,
	div.filter,
	h2:before {
		display:none;
	}

	div.content {
		margin-top:-60px;
	}

	a.label {
		border:none;
		font-size:14px;
		font-weight:normal;
		padding:0;
	}

	a:after {
		display:none;
	}
}
