span.owner_type input {
	margin-left:15px;
	margin-right:5px;
}

select#owner_existing {
	display:none;
}

div.tab-pane {
	padding-top:20px;
}

form.search input[type=button] {
	padding:6px 10px;
}

@media (min-width:767px) {
	form.search {
		float:right;
		margin-top:-45px;
		margin-right:75px;
	}
}
