* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
}

div.wrapper {
	min-height:100%;
	position:relative;
}

h1 {
	font-size:32px;
	margin-top:0;
}

h2 {
	font-size:24px;
	margin-bottom:5px;
}
h2:before {
	content:">";
	margin-right:5px;
	color:#f0c010;
	position:relative;
}

h3 {
	font-size:18px;
}

ul {
	padding-left:15px;
}

div.left {
	float:left;
}

div.right {
	float:right;
}

div.clear {
	clear:both;
}

img.title_icon {
	float:right;
	margin-top:-10px;
	margin-bottom:-10px;
}

div.input-group input.btn {
	padding:6px 25px;
}

/* Header
 */
div.header {
	height:100px;
	background:url(/images/layout/iatlas_title_bg.png) no-repeat center;
}

div.header div.title {
	color:#3030a0;
	font-size:40px;
	font-weight:bold;
	margin-top:20px;
	text-shadow:0 0 4px #ffffff;
}

div.header div.title span.version {
	font-size:11px;
	margin-left:5px;
	color:#8080c0;
}

nav.navbar {
	margin-bottom:0;
	border-radius:0
}

div.header img.logo {
	float:right;
	margin-right:15px;
	width:100px;
}

/* Content
 */
div.content div.container {
	padding:25px 30px 75px;
	position:relative;
}

input.form-control, textarea.form-control, select.form-control {
	max-width:500px;
	margin-bottom:5px;
}

@media (max-width:767px) {
	input.form-control, textarea.form-control, select.form-control {
		font-size:16px;
	}
}

input[type=checkbox] {
	margin-left:5px;
}

textarea.form-control {
	height:75px;
}

div.btn-group {
	margin:15px 10px 10px 0;
}

.btn {
	padding:4px 24px;
}

.btn-xs {
	padding:0 16px;
}

table.table-hover tbody tr:hover {
	cursor:pointer;
}

/* Footer
 */
div.footer {
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color:#f0f0f0;
	border-top:1px solid #e0e0e0;
	padding-top:15px;
	text-align:center;
	color:#a0a0a0;
	font-size:12px;
}

div.footer a {
	color:#606060;
}

div.footer form.language-selector {
	display:inline-block;
}

@media (min-width:768px) {
	div.footer span:before {
		content:"|";
		margin:0 20px;
	}
	div.footer span:first-child:before {
		content:"";
		margin:0;
	}
}

@media (max-width:767px) {
	div.content div.container {
		padding-bottom:195px;
	}
	div.footer {
		height:180px;
	}
	div.footer span {
		display:block;
		margin-bottom:10px;
	}
}
