div.header img.logo {
	display:none;
}

@media (min-width:992px) {
	div.content img.logo {
		float:right;
		width:250px;
	}
}

@media (max-width:991px) {
	div.content img.logo {
		float:right;
		width:150px;
	}
}

@media (max-width:767px) {
	div.content img.logo {
		width:100px;
		position:absolute;
		top:-30px;
		right:50px;
	}
}

form {
	margin-bottom:15px;
}
